html {
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Encode Sans";
  font-weight: 400;
  color: #4d4d4d;
}

.layout-grid {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [page-s header-s] 13.6rem [header-e bar-s] 4rem [bar-e content-s] 1fr [content-e page-e];
      grid-template-rows: [page-s header-s] 13.6rem [header-e bar-s] 4rem [bar-e content-s] 1fr [content-e page-e];
  -ms-grid-columns: [page-s] 14rem [content-s] 1fr [content-e] 14rem [page-e];
      grid-template-columns: [page-s] 14rem [content-s] 1fr [content-e] 14rem [page-e];
}

.bar {
  height: 4rem;
  background-color: #D8D8D8;
  grid-row: bar-s/bar-e;
  grid-column: page-s/page-e;
}

.header {
  grid-row: header-s/header-e;
  grid-column: content-s/content-e;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [s] 1fr [e];
      grid-template-columns: [s] 1fr [e];
  -ms-grid-rows: [title-s] 3rem [title-e sub-s] 2rem [sub-e];
      grid-template-rows: [title-s] 3rem [title-e sub-s] 2rem [sub-e];
}

.header__title {
  grid-row: title-s/title-e;
  grid-column: s/e;
}

.header__subtitle {
  grid-row: sub-s/sub-e;
  grid-column: s/e;
}

.header {
  padding-top: 4rem;
}

.header__title {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 3rem;
}

.header__subtitle {
  color: #b50000;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2rem;
}

.sign-in {
  grid-row: content-s/content-e;
  grid-column: content-s/content-e;
}

.sign-in-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [s] 1fr [input-s] 629px [input-e] 1fr [e];
      grid-template-columns: [s] 1fr [input-s] 629px [input-e] 1fr [e];
  justify-items: center;
}

.sign-in-form__title {
  width: 100%;
  margin-top: 6.6rem;
  grid-column: s/e;
}

.sign-in-form__email {
  margin-top: 7.7rem;
  grid-column: input-s/input-e;
}

.sign-in-form__password {
  margin-top: 4rem;
  grid-column: input-s/input-e;
}

.sign-in-form__login {
  margin-top: 8.8rem;
  grid-column: input-s/input-e;
}

.sign-in-form__text-links {
  margin-top: 5.2rem;
  grid-column: input-s/input-e;
}

.sign-in-form__email, .sign-in-form__password {
  -webkit-transform: translateX(-64.5px);
          transform: translateX(-64.5px);
}

.sign-up {
  grid-row: content-s/content-e;
  grid-column: content-s/content-e;
}

.sign-up-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [s] 1fr [input-s] 629px [input-e] 1fr [e];
      grid-template-columns: [s] 1fr [input-s] 629px [input-e] 1fr [e];
  justify-items: center;
}

.sign-up-form__title {
  width: 100%;
  margin-top: 6.6rem;
  grid-column: s/e;
}

.sign-up-form__fullname {
  margin-top: 7.7rem;
  grid-column: input-s/input-e;
}

.sign-up-form__unit, .sign-up-form__email, .sign-up-form__password {
  margin-top: 4rem;
  grid-column: input-s/input-e;
}

.sign-up-form__create-account {
  margin-top: 8.8rem;
  grid-column: input-s/input-e;
}

.sign-up-form__text-links {
  margin-top: 5.2rem;
  grid-column: input-s/input-e;
}

.form-title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #E6E6E6;
}

.form-input {
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 1;
  grid-row: 1fr;
  -ms-grid-columns: 3fr 10fr;
      grid-template-columns: 3fr 10fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-input__title {
  grid-row: 1/-1;
  grid-columns: 1/2;
}

.form-input__input {
  grid-row: 1/-1;
  -ms-grid-columns: 2/3;
      grid-template-columns: 2/3;
}

.form-input,
.form-textarea {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 3fr 10fr;
      grid-template-columns: 3fr 10fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-input__title,
.form-textarea__title {
  color: #b50000;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.3rem;
}

.form-input__input,
.form-textarea__input {
  height: 4rem;
  width: 100%;
  border: 1px solid #E6E6E6;
  border-radius: 0.5rem;
  padding-left: 2rem;
  font-size: 1.6rem !important;
  font-weight: 500;
}

.form-textarea__title {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  color: #b50000;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.3rem;
}

.form-textarea__input {
  height: 35.5rem;
  resize: none;
  padding-top: 1rem;
}

.form-button__button, .form-button__replace,
.form-button .button,
.form-button-small__button,
.form-button-small__replace,
.form-button-small .button,
.form-image__button,
.form-image__replace,
.form-image .button {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-button__button:focus, .form-button__replace:focus,
.form-button .button:focus,
.form-button-small__button:focus,
.form-button-small__replace:focus,
.form-button-small .button:focus,
.form-image__button:focus,
.form-image__replace:focus,
.form-image .button:focus {
  outline: none;
}

.form-button__button:active, .form-button__replace:active,
.form-button .button:active,
.form-button-small__button:active,
.form-button-small__replace:active,
.form-button-small .button:active,
.form-image__button:active,
.form-image__replace:active,
.form-image .button:active {
  -webkit-transform: scale(0.95) translateY(2px);
          transform: scale(0.95) translateY(2px);
}

.form-button__button {
  height: 4rem;
  width: 21.6rem;
  border-radius: 2rem;
  background-color: #b50000;
  color: white;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 2.8rem;
  text-align: center;
}

.form-button-small__button {
  border-radius: 1.6rem;
  border: 1px solid #4d4d4d;
  width: 7.4rem;
  height: 2.4rem;
  background-color: white;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  width: 13rem;
}

.form-button-small__danger {
  border: 1px solid #b50000;
  color: white;
  background-color: #b50000;
}

.form-image {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [title-s] 1fr [title-e image-s] 13.7rem [image-e];
      grid-template-rows: [title-s] 1fr [title-e image-s] 13.7rem [image-e];
  -ms-grid-columns: [s] 16rem [e];
      grid-template-columns: [s] 16rem [e];
}

.form-image > * {
  grid-column: s/e;
}

.form-image__title {
  color: #b50000;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.3rem;
  margin-bottom: 2rem;
  grid-rows: title-s/title-e;
}

.form-image__image {
  height: 13.7rem;
  width: 16rem;
  background-color: #dbdbdb;
  grid-row: image-s/image-e;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-image__replace {
  border-radius: 1.6rem;
  border: 1px solid white;
  background-color: #fff;
  background-color: white;
  width: 13rem;
  height: 2.4rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  color: #b50000;
  grid-row: image-s/image-e;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.text-link {
  font-size: 1.4rem;
  line-height: 1.7rem;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  margin: 0 38px;
}

.dashboard {
  grid-row: content-s/content-e;
  grid-column: content-s/content-e;
}

.tab-nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [tabs-s] 50px [tabs-e content-s] 1fr [content-e];
      grid-template-rows: [tabs-s] 50px [tabs-e content-s] 1fr [content-e];
  height: 100%;
}

.tab-nav__tabs {
  grid-row: tabs-s/tabs-e;
  border-bottom: 1px solid #E6E6E6;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [s] 1fr [m] 1fr 1fr [e];
      grid-template-rows: [s] 1fr [m] 1fr 1fr [e];
  -ms-grid-columns: (1fr)[auto-fill];
      grid-template-columns: repeat(auto-fill, 1fr);
  grid-auto-flow: column;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-column-gap: 4.6rem;
}

.tab-nav__tab {
  grid-row: m/e;
  height: 100%;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
  width: 9rem;
  border-bottom: 2px solid transparent;
}

.tab-nav__active {
  color: #b50000;
  border-bottom: 2px solid #b50000;
}

.newsletter-grid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row: content-s/content-e;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [add-s] 4.7rem [add-e s box-s] 16rem [box-e archive-s] 1fr [archive-e e];
      grid-template-rows: [add-s] 4.7rem [add-e s box-s] 16rem [box-e archive-s] 1fr [archive-e e];
  -ms-grid-columns: [box-s archive-s] 16rem [box-e archive-e latest-s] 960px [latest-e];
      grid-template-columns: [box-s archive-s] 16rem [box-e archive-e latest-s] 960px [latest-e];
  grid-column-gap: 6.1rem;
}

.newsletter-grid__button {
  grid-row: add-s/add-e;
  grid-column: latest-s/latest-e;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: .8rem;
}

.newsletter-box {
  grid-row: box-s/box-e;
  grid-column: box-s/box-e;
  height: 16rem;
  width: 16rem;
  border: 0.15rem solid #b50000;
  border-radius: .5rem;
  color: #b50000;
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -ms-grid-rows: [s] 8.1rem [m] 2.3rem [e];
      grid-template-rows: [s] 8.1rem [m] 2.3rem [e];
  -ms-grid-columns: [s] 1fr [e];
      grid-template-columns: [s] 1fr [e];
}

.newsletter-box__day {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  font-size: 7rem;
  line-height: 8.1rem;
  margin-bottom: 1rem;
  grid-row: s/m;
  grid-column: s/e;
}

.newsletter-box__month-year {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 2rem;
  line-height: 2.3rem;
  grid-row: m/e;
  grid-column: s/e;
}

.newsletter-box__point {
  height: 4rem;
  width: 4rem;
  background-color: #fff;
  grid-row: s/e;
  grid-column: s/e;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  -webkit-transform: translateX(52%) rotate(45deg);
          transform: translateX(52%) rotate(45deg);
  border: 0.15rem solid #b50000;
  border-bottom: none;
  border-left: none;
}

.newsletter-archive {
  margin-top: 3.85rem;
  grid-row: archive-s/archive-e;
  grid-column: archive-s/archive-e;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [title-s] 2.7rem [title-e items-s] 1fr [items-e];
      grid-template-rows: [title-s] 2.7rem [title-e items-s] 1fr [items-e];
}

.newsletter-archive__title {
  color: #b50000;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2.3rem;
  border-bottom: 0.1rem solid #E6E6E6;
  padding-bottom: 0.4rem;
}

.newsletter-archive .archive-items {
  margin-top: 1.6rem;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 1.6rem;
  -ms-grid-rows: (1fr)[auto-fit];
      grid-template-rows: repeat(auto-fit, 1fr);
  -ms-flex-line-pack: start;
      align-content: start;
}

.archive-item {
  display: -ms-grid;
  display: grid;
  grid-row-gap: .3rem;
}

.archive-item__title {
  font-size: 1.4rem;
  line-height: 1.7rem;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.archive-item__title:hover {
  font-size: 1.6rem;
  font-weight: 700;
}

.archive-item__date {
  color: #b50000;
  font-family: "Encode Sans Condensed";
  font-size: 1.3rem;
  line-height: 1.6rem;
}

.newsletter-latest {
  grid-row: s/e;
  grid-column: latest-s/latest-e;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [s] 258px [m] 405px [e];
      grid-template-rows: [s] 258px [m] 405px [e];
  -ms-grid-columns: [s] 1fr [e];
      grid-template-columns: [s] 1fr [e];
  border: 1px solid #E6E6E6;
  border-radius: .5rem;
}

.newsletter-latest > * {
  grid-column: s/e;
}

.newsletter-latest__title, .newsletter-latest__image {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.newsletter-latest__title {
  grid-row: s/m;
  color: #fff;
  font-size: 4rem;
  font-weight: 500;
  line-height: 5rem;
  text-align: center;
}

.newsletter-latest__image {
  grid-row: s/m;
  z-index: -10;
}

.newsletter-latest__body {
  grid-row: m/e;
}

.newsletter-latest__body p {
  margin: 6.3rem 6.05rem;
  line-height: 2.5rem;
  font-size: 1.6rem;
}

.newsletter-latest__button {
  grid-row: s/m;
  grid-column: s/e;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-right: 1rem;
  margin-bottom: 1.2rem;
}

.button {
  border-radius: 1.6rem;
  border: 1px solid #4d4d4d;
  width: 7.4rem;
  height: 2.4rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.new-newsletter {
  grid-column: content-s/content-e;
  grid-row: content-s/content-e;
}

.new-newsletter-form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [s input-s] 1020px [input-e] 1fr [s];
      grid-template-columns: [s input-s] 1020px [input-e] 1fr [s];
}

.new-newsletter-form__title {
  width: 100%;
  margin-top: 6.6rem;
  grid-column: s/e;
  -ms-grid-row: 1;
  grid-row: 1;
}

.new-newsletter-form__newsletter-title, .new-newsletter-form__body {
  margin-top: 4.1rem;
  grid-column: input-s/input-e;
}

.new-newsletter-form__body {
  margin-top: 2rem;
  -ms-grid-row: 3;
  grid-row: 3;
}

.new-newsletter-form__submit, .new-newsletter-form__cancel {
  grid-column: 1/-1;
  -ms-grid-row: 1;
  grid-row: 1;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-left: 0.2rem;
  margin-bottom: 1.2rem;
}

.new-newsletter-form__cancel {
  -webkit-transform: translateX(-15.5rem);
          transform: translateX(-15.5rem);
  background-color: white !important;
}

.new-newsletter-form__image {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.newsletter-detail {
  grid-row: content-s/content-e;
  grid-column: content-s/content-e;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px [add-s] 4.7rem [add-e s box-s] 16rem [box-e] 1fr [e];
      grid-template-rows: 100px [add-s] 4.7rem [add-e s box-s] 16rem [box-e] 1fr [e];
  -ms-grid-columns: [box-s] 16rem [box-e latest-s] 960px [latest-e];
      grid-template-columns: [box-s] 16rem [box-e latest-s] 960px [latest-e];
  grid-column-gap: 6.1rem;
}

.newsletter-detail__title {
  width: 100%;
  margin-top: 6.6rem;
  grid-column: 1/-1;
  -ms-grid-row: 1;
  grid-row: 1;
}

.newsletter-detail__cancel {
  -ms-grid-row: 1;
  grid-row: 1;
  grid-column: latest-s/latest-e;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-right: 1rem;
  margin-bottom: 1.2rem;
}

.button {
  border-radius: 1.6rem;
  border: 1px solid #4d4d4d;
  width: 7.4rem;
  height: 2.4rem;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.requests-grid {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-row: content-s/content-e;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [add-s] 4.7rem [add-e s box-s] 16rem [box-e archive-s] 1fr [archive-e e];
      grid-template-rows: [add-s] 4.7rem [add-e s box-s] 16rem [box-e archive-s] 1fr [archive-e e];
  -ms-grid-columns: [box-s archive-s] 16rem [box-e archive-e latest-s] 960px [latest-e];
      grid-template-columns: [box-s archive-s] 16rem [box-e archive-e latest-s] 960px [latest-e];
  grid-column-gap: 6.1rem;
}

.requests-grid__button {
  grid-row: add-s/add-e;
  grid-column: latest-s/latest-e;
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-right: .8rem;
}
/*# sourceMappingURL=main.css.map */